html {
    background-color: rgb(255, 255, 208);
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:rgb(92, 52, 0);
}

div.recipe-page {
    background-color: rgb(255, 227, 133);
    width: 750px;
    margin: 0 auto;
    border: 6px double rgb(255, 72, 0);
    padding: 10px 25px;
}

h1,
h2,
h3 {
    color: rgb(255, 145, 0);
    margin: 0;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

p,
li {
    font-size: 16px;
    line-height: 22px;
}

img {
    display: block;
    margin: 10px auto;
    height: 400px;
    width: auto;
    border: 2px solid rgb(255, 72, 0);
}

.recipe-page a {
    display: block;
    background-color: rgb(255, 236, 152);
    border: 2px solid rgb(255, 72, 0);
    margin: 5px auto;
    padding: 10px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.recipe-page a:link {
    color: rgb(255, 72, 0);
}

.recipe-page a:visited {
    color: rgb(255, 72, 0);
}

.message {
    text-align: center;
}

.center-list {
    margin: auto;
    display: inline;
    list-style-type: none;
}